<app-create-content (createContent)="addContent($event)"></app-create-content>
<p *ngIf="isError" class="error">Content Failed to be added</p>
<input type="text" [(ngModel)]="searchTitle" placeholder="Enter Content Title">
<button (click)="searchContent()">Search</button>
<div *ngFor="let type of typeList">
  <h2>{{ type || 'No Type' }}</h2>
  <div *ngFor="let content of contentArray | typeFilter: type"
  >
    <app-content-card
      [content]="content"
      [index]="contentArray.indexOf(content)"
      (imageClick)="handleImageClick(content.id, content.title)"
      [style.color]="content.type === 'Club' ? 'blue' : (content.type === 'Player' ? 'pink' : 'orange')"
      ></app-content-card>
  </div>
</div>

<div [style.color]="searchMessageColor">
  {{ searchMessage }}
</div>